{% extends 'service/base.html' %}

<!-- Title -->
{%  block title %}About US {% endblock %}

  <!-- StyleSheet -->
  {% block stylesheet %}
  <!-- kk -->
  <link rel="stylesheet" href="/static/service/css/style.css">

  {% endblock %}


{% block body %}

  <div class=" text-start mx-lg-5 mx-3">

    <!--Start of Devoloper's -->
    <div class="">
      <div class=" mx-4" style='border-left: 2px solid red;'>
        <h3 class=' display-6 my-5 mx-5'>Devoloper's</h3>
      </div>
      <div class=" row mx-lg-5 text-cen" >
        <div class="profile col-lg-2 col-md-3 col-sm-5 col-5 rounded-circle text-center mx-lg-5" id='profile1'>
          <div class="">
            <img src="/static/service/images/yusrie.jpg" class='rounded-circle w-100' alt="Yusrie">
          </div>
          <div class="text-center my-3">
            <p class='h3 text-muted'>Arshaad </p>
          </div>
        </div>

        <div class="profile col-lg-2 col-md-3 col-sm-5 col-5 rounded-circle text-center mx-lg-5" id='profile2'>
          <div class="">
            <img src="/static/service/images/ahzam.jpg" class='rounded-circle w-100' alt="Yusrie">
          </div>
          <div class="text-center my-3">
            <p class='h3 text-muted'>Ahzam</p>
          </div>
        </div>

      </div>
    </div>
    <!--End of Devoloper's -->

    <!--Start of Resourses -->
    <div class="">
      <div class="my-5">

              <div class=" mx-4" style='border-left: 2px solid red;'>
                <h3 class=' display-6  my-5 mx-5'>Resources</h3>
              </div>

              <div class="row">

                <div class="resource my-3 offset-1 p-3 col-lg-2 col-md-3 col-sm-5 col-5 text-center mx-lg-5">
                  <div class="">
                    <img src="/static/service/images/django.png" class='rimg  w-100' alt="Yusrie">
                  </div>
                  <div class="text-center my-3">
                    <p class='h3'>Django</p>
                  </div>
                </div>

                <div class="resource my-3 offset-1 p-3 col-lg-2 col-md-3 col-sm-5 col-5 text-center mx-lg-5">
                  <div class="">
                    <img src="/static/service/images/python.webp" class='rimg  w-100' alt="Yusrie">
                  </div>
                  <div class="text-center my-3">
                    <p class='h3'>Python</p>
                  </div>
                </div>

                <div class="resource my-3 offset-1 p-3 col-lg-2 col-md-3 col-sm-5 col-5 text-center mx-lg-5">
                  <div class="">
                    <img src="/static/service/images/js.png" class='rimg  w-100' alt="Yusrie">
                  </div>
                  <div class="text-center my-3">
                    <p class='h3'>Java-Script</p>
                  </div>
                </div>

                <div class="resource my-3 offset-1 p-3 col-lg-2 col-md-3 col-sm-5 col-5 text-center mx-lg-5">
                  <div class="">
                    <img src="/static/service/images/html.png" class='rimg  w-100' alt="Yusrie">
                  </div>
                  <div class="text-center my-3">
                    <p class='h3'>HTML</p>
                  </div>
                </div>

                <div class="resource my-3 offset-1 p-3 col-lg-2 col-md-3 col-sm-5 col-5 text-center mx-lg-5">
                  <div class="">
                    <img src="/static/service/images/sqlite.png" class='rimg  w-100' alt="Yusrie">
                  </div>
                  <div class="text-center my-3">
                    <p class='h3'>SQLite</p>
                  </div>
                </div>

                <div class="resource my-3 offset-1 p-3 col-lg-2 col-md-3 col-sm-5 col-5 text-center mx-lg-5">
                  <div class="">
                    <img src="/static/service/images/chartjs-logo.svg" class='rimg  w-100' alt="Yusrie">
                  </div>
                  <div class="text-center my-3">
                    <p class='h3'>Chart-JS</p>
                  </div>
                </div>

                <div class="resource my-3 offset-1 p-3 col-lg-2 col-md-3 col-sm-5 col-5 text-center mx-lg-5">
                  <div class="">
                    <img src="/static/service/images/github.png" class='rimg  w-100' alt="Yusrie">
                  </div>
                  <div class="text-center my-3">
                    <p class='h3'>Github</p>
                  </div>
                </div>

                <div class="resource my-3 offset-1 p-3 col-lg-2 col-md-3 col-sm-5 col-5 text-center mx-lg-5">
                  <div class="">
                    <img src="/static/service/images/atom.png" class='rimg  w-100' alt="Yusrie">
                  </div>
                  <div class="text-center my-3">
                    <p class='h3'>Atom</p>
                  </div>
                </div>

              </div>
      </div>
    </div>
    <!--End of Resourses -->


    <!-- Start of Hosting -->
    <div class="" >
      <br>
      <div class="my-5 mx-4" style='border-left: 2px solid red;'>
        <h3 class=' display-6  mx-5 text-dark '>Hosting</h3>
      </div>

      <div class="row my-5">


        <div class="resource my-3 offset-1 p-3 col-lg-2 col-md-3 col-sm-5 col-5 text-center mx-lg-5">
          <div class="">
            <img src="/static/service/images/heroku.jpg" class='rimg  w-100' alt="Yusrie">
          </div>
          <div class="text-center my-3">
            <p class='h3'>Heroku</p>
          </div>
        </div>


        <div class="resource my-3 p-3 offset-1 col-lg-2 col-md-3 col-sm-5 col-5 text-center mx-lg-5">
          <div class="">
            <img src="/static/service/images/aws.png" class='rimg  w-100' alt="Yusrie">
          </div>
          <div class="text-center my-3">
            <p class='h3'>AWS</p>
          </div>
        </div>

        <div class="resource my-3 offset-1 p-3 col-lg-2 col-md-3 col-sm-5 col-5 text-center mx-lg-5">
          <div class="">
            <img src="/static/service/images/infinity.png" class='rimg  w-100' alt="Yusrie">
          </div>
          <div class="text-center my-3">
            <p class='h3'>Infinity-Free</p>
          </div>
        </div>


      </div>
      <br><br>
    </div>
    <!-- End of Hosting -->
  </div>


  {% endblock %}


    {% block script %}

    <script type="text/javascript" src='/static/service/js/about.js'></script>

    {% endblock %}
