<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">


    <title>Welcome to GLiDE Ceylon</title>
    <style media="screen">
      a {
        list-style-type: none;
        link-style: none;
        color: black;
        underline:none;
        box-sizing: border-box;
        margin:10px 0 10px 0;

      }
    </style>
  </head>
  <body>
    <h1>Hello {{ name }}!</h1>
    <p>Your Successfully Created acount in GLiDE Ceylon with the email: {{ email }}!<br>
      Now you can visit your account home page by clicking the button below <br> </p>
    <a href="{{ url }}" >GLiDE Ceylon Home</a>
    <br><br><br>
    if it didn't work copy and paste the below into your browser <br>
    <a href="{{ url }}">{{ url }}</a>
    <br>
    <p>If you need anything else be kind to reply to this email</p>
    glide.ceylon@gmail.com
  </body>
</html>
