<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GLiDE Ceylon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% load static %}
    <!-- Set Tab Icon -->
    <link rel="icon" href="{% static 'service/images/logo.png' %}">

    <link rel="stylesheet" href="{% static 'service/css/style.css' %}">


    <!-- Bootstrap -->

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


    <!-- Font Awesome -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
    integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>



    <!-- Chart JS -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>




  </head>
  <body>

    <div class="container-fluid" style="text-align:center;">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">

         <a class="navbar-brand" href="#" >
           <img src="{% static 'service/images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="234">
           GLiDE Ceylon
         </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ">

            <li class="nav-item ">
              <a class="nav-link" href="#">Feature's </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" href="#">Documentation </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" href="#">About Us<span class="sr-only">(current)</span></a>
            </li>

          </ul>

          <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-primary my-2 my-sm-0" href='/auth'>Sign in <i class="fa fa-sign-in"></i>  </a>
          </form>

        </div>
      </nav>

      <!-- End Of the Navbar -->


      <div class="container-banner">
        <img src="{% static 'service/images/banner.jpg' %}" class="img-fluid d-none d-lg-block d-md-none d-sm-none" width="100%" alt="Banner">
        <img src="{% static 'service/images/banner-small.jpg' %}" class="img-fluid d-lg-none d-md-block d-sm-block" width="100%" alt="Banner">

        <div class="centered display-1 d-none d-lg-block d-md-none d-sm-none">
          GLiDE. Ceylon Estate <br>
            <div class="h3 my-4">
              Management System
            </div>
        </div>

        <div class="centered display-3 d-lg-none d-md-block d-sm-block">GLiDE. Ceylon Estate <br><br>
            <div class="lead">Management System</div>
        </div>
      </div>


      <!-- 3 Benefit's -->

      <div class="wrapper mx-lg-5 px-lg-5">

        <div class="row my-5">

          <div class="col-sm my-5" height="200px;">
            <i class="fas fa-users fa-10x m-5 text-secondary"></i>
            <p class="font-weight-light h4">Create & Manage Workers, Clients </p>
          </div>

           <div class="col-sm my-5" height="200px;">
             <i class="fas fa-server text-info fa-10x m-5"></i>
             <p class="font-weight-light h4">Calculate salary and profit with Tea leaf weight</p>
           </div>

           <div class="col-sm my-5" height="200px;">
             <i class="fas fa-file-excel fa-10x m-5 text-success "></i><br>
             <p class="font-weight-light h4">Get a summary of data in Excel, PDF </p>
           </div>

         </div>
      </div>

      <!-- End of Benefit -->



      <br><br><br>

      <!-- Features  -->

      <div class="row" style='background-image: url({% static 'service/images/Ellipse14.jpg' %}); background-repeat: no-repeat;'>

        <div class="feature col-lg-7 offset-lg-2 mx-lg-5 mx-2 mt-5 text-center">

          <p class='display-1 d-none d-lg-block d-md-none d-sm-none mt-5' style='font-size:120px;'>
            Faster &nbsp&nbsp&nbsp<i class="fa-solid fa-person-running " style='color:#14397d;'></i> <br>
            Easier &nbsp&nbsp <i class="fa-solid fa-hands " style='color:#77b5d9;'></i> <br>
            Efficient&nbsp <i class="fa fa-bolt" style='color:#9ad6ff;' aria-hidden="true"></i>
           </p>

          <p class='display-4 d-lg-none d-md-block d-sm-block mt-5'>
            Faster &nbsp&nbsp&nbsp<i class="fa-solid fa-person-running text-success"></i> <br>
            Easier &nbsp&nbsp <i class="fa-solid fa-hands text-success"></i> <br>
            Efficient&nbsp <i class="fa fa-bolt text-success" aria-hidden="true"></i>
          </p>

        </div>

        <div class="feature col-lg-3 offset-lg-2 mx-lg-5 mx-2 mt-5 text-left px-lg-4 py-5 ">

          <div class="w-100 text-center my-5">
            <img src="{% static 'service/images/benefit.png' %}" class="img-fluid " width="200px" alt="feature">
          </div>

          <p class='lead h4'>
            Using our service, you can easily calculate
            the tea weight workers collected over the month and efficiently process each worker's
            salary with one click. If your factor supplier has an account, you can add a link to their
            account and get details about how much you have supplied to them,
            what's the current price of the tea and get details about your payment
          </p>

          <br>
        </div>
      </div>

      <!-- End of Feature -->

      <br><br><br><br><br><br>

      <!-- Data Visulization -->

      <div class="container-fluid text-left mt-5" style='background-image: url({% static 'service/images/Ellipse13.png' %}); background-repeat: no-repeat;min-height: 800px;  background-position:right;'>

        <div class="datavisual d-none d-lg-block d-md-none d-sm-none  mx-5" style='border-left: 2px solid red;'>
          <h3 class=' display-4 my-5 mx-5'>  Visualize Your Data <i class="fas fa-chart-line" style='color:rgb(54, 162, 235);'></i></h3>
        </div>

        <div class="datavisual d-lg-none d-md-block d-sm-block " style='border-left: 2px solid red;'>
          <h3 class='display-6 my-2 mx-3'> Visualize Your Data <i class="fas fa-chart-line" style='color:rgb(54, 162, 235);'></i></h3>
        </div>


        <div class="row pt-5 pt-lg-1 offset-lg-1">

          <div class="col-lg-3 col-sm-12 my-lg-5 my-l">
            <div class="myChart mt-5" >
              <canvas id="myChart" height='200px'></canvas>
            </div>
          </div>

          <div class="offset-lg-1 col-lg-7 col-sm-12 my-5">
            <div class="myChart" style="position: relative; height:50vh;">
              <canvas id="myChart2" height='200px'></canvas>
            </div>
          </div>

        </div>
      </div>

      <!-- End Of Data Visulization -->
      <br>

      <!-- Account Types -->

      <div class="mx-1 mx-lg-5 mt-5 text-left" >

        <div class="datavisual d-none d-lg-block d-md-none d-sm-none  mx-5" style='border-left: 2px solid red;'>
          <h3 class=' display-4 my-5 mx-5'>Account's <i class="account-icon fas fa-users" style='color: #ff009b;'></i></h3>
        </div>

        <div class="datavisual d-lg-none d-md-block d-sm-block" style='border-left: 2px solid red;'>
          <h3 class='display-6 my-5 mx-2'> Account's <i class="account-icon fas fa-users" style='color: #ff009b;'></i></h3>
        </div>

        <div class="row mx-lg-5">

          <div class="featureacc col-lg-3  my-5  mx-lg-5"  >

            <div onclick="window.location='http://google.com';" >

              <div class="text-center my-5" >
                <i class="fa-solid fa-people-carry-box fa-5x" style='color:rgb(255, 205, 86);'></i>
                <p class='h3 text-muted'>Factory Supllier</p>
              </div>

              <div class="my-5">
                
              </div>

            </div>

            <div class="row my-5 px-3">
              <button type="button" class="btn btn-primary btn-block"  onclick="window.location='http://youtube.com';" name="button">Buy 7999LKR</button>
            </div>

          </div>



          <div class="featureacc col-lg-3 offset-lg-1 my-5  ">

            <div onclick="window.location='http://google.com';">

              <div class="text-center my-5">
                <i class="fas fa-user fa-5x" style='color:rgb(54, 162, 235);'></i>
                <p class='h3 text-muted'>Owner</p>
              </div>

              <div class="my-5">

              </div>

            </div>

            <div class="row my-5 px-3">
              <button type="button" class="btn btn-primary btn-block" name="button">Buy 3999LKR</button>
            </div>

          </div>

          <div class="featureacc col-lg-3 offset-lg-1 my-5  ">

            <div onclick="window.location='http://google.com';">

              <div class="text-center my-5">
                <i class="fas fa-digging fa-5x" style='color:rgb(255, 99, 132);'></i>
                <p class='h3 text-muted'>Worker</p>
              </div>

              <div class="my-5">

              </div>

            </div>

            <div class="row my-5 px-3">
              <button type="button" class="btn btn-primary btn-block disabled" name="button">Must Be Created By Owne/Supplierr</button>
            </div>

          </div>

        </div>
      </div>

      <!-- End Of Account -->




       <!-- End Of THe Container -->
    </div>

    <script src="{% static 'service/js/chart.js' %}"></script>
  </body>
</html>
