{% extends "base.html" %}

{%  block title %}GLiDE Ceylon {% endblock %}

{% block body %}

  <div class=" footer text-center py-5 ">
    <div class="row mx-2">
      <div class="col-lg-4 col-md-8 col-sm-11 offset-md-2 offset-lg-1">

        <div class="mx-lg-5 mx-2">
          <img src="static/service/images/logo.png" class='w-100 ' alt="">
        </div>

        <div class="display-3 d-lg-none d-md-block d-sm-block  text-white">GLiDE. Ceylon <br><br>
          <div class="lead">Management System</div>
        </div>
      </div>
      <br>
      <div class="mx-5 text-right">
        <br><br><br><br><br><br>
        <h1 class=" text-white ml12 mlf1 d-none d-lg-block d-md-none d-sm-none" width="100%" style="white-space: nowrap;">GLiDE Ceylon</h1>
        <p class="text-white lead mx-3">Since 2019</p>
      </div>
    </div>


  </div>


  <!-- 3 Benefit's -->

  <div class="wrapper mx-lg-5 px-lg-5">

    <div class="row my-5">

      <div class="col-sm my-5" height="200px;" id='feature1'>
        <i class="fas fa-users fa-10x m-5 " style='color:rgb(255, 205, 86)'></i>
        <p class="font-weight-light h4">Create & Manage Workers, Clients </p>
      </div>

      <div class="col-sm my-5" height="200px;" id='feature2'>
        <i class="fas fa-server  fa-10x m-5" style='color:rgb(54, 162, 235);'></i>
        <p class="font-weight-light h4">Calculate salary and profit with Tea leaf weight</p>
      </div>

      <div class="col-sm my-5" height="200px;" id='feature3'>
        <i class="fas fa-file-excel fa-10x m-5" style='color:rgb(73, 255, 129);'></i><br>
        <p class="font-weight-light h4">Get a summary of data in Excel, PDF </p>
      </div>

    </div>
  </div>

  <!-- End of Benefit -->



  <br><br><br>

  <!-- Features  -->

  <div class="row" style='background-image: url('static/service/images/Ellipse14.jpg'); background-repeat: no-repeat;'>

    <div class="feature col-lg-3 offset-lg-2 mx-lg-5 mx-2 mt-5 text-left px-lg-4 py-5 ">

      <div class="w-100 text-center my-5">
        <i class="fa-solid fa-circle-check fa-7x my-3" style='color:#16ff0a;' ></i>
      </div>

      <p class='lead h4 my-5'>
        Using our service, you can easily calculate
        the tea weight workers collected over the month and efficiently process each worker's
        salary with one click. If your factor supplier has an account, you can add a link to their
        account and get details about how much you have supplied to them,
        what's the current price of the tea and get details about your payment

        <br><br>

        Create a acoount and get 2 months free trail
      </p>

      <br>
    </div>

    <div class="feature col-lg-7 offset-lg-2 mx-lg-5 mx-2 mt-5 text-center">

      <!-- Large Screen -->
      <p class='display-1 d-none d-lg-block d-md-none d-sm-none mt-5' style='font-size:120px;'>
        Faster &nbsp&nbsp&nbsp<i class="fa-solid fa-person-running " style='color:#14397d;'></i> <br>
        Easier &nbsp&nbsp <i class="fa-solid fa-hands " style='color:#77b5d9;'></i> <br>
        Efficient&nbsp <i class="fa fa-bolt" style='color:#9ad6ff;' aria-hidden="true"></i>
      </p>

      <!-- Small Screen -->
      <p class='display-4 d-lg-none d-md-block d-sm-block mt-5'>
        Faster &nbsp&nbsp&nbsp<i class="fa-solid fa-person-running " style='color:#14397d;'></i> <br>
        Easier &nbsp&nbsp <i class="fa-solid fa-hands " style='color:#77b5d9;'></i> <br>
        Efficient&nbsp <i class="fa fa-bolt" style='color:#9ad6ff;' aria-hidden="true"></i>
      </p>

    </div>


  </div>

  <!-- End of Feature -->

  <br><br><br><br><br><br>

  <!-- Data Visulization -->

  <div class="container-fluid text-left mt-5" style='background-image: url('static/service/images/Ellipse13.png'); background-repeat: no-repeat;min-height: 800px;  background-position:right;'>

    <!-- Large Screen -->
    <div class="datavisual d-none d-lg-block d-md-none d-sm-none  mx-5" style='border-left: 2px solid red;'>
      <h3 class=' display-4 my-5 mx-5'>  Visualize Your Data <i class="fas fa-chart-line" style='color:rgb(54, 162, 235);'></i></h3>
    </div>


    <!-- Small Screen -->
    <div class="datavisual d-lg-none d-md-block d-sm-block " style='border-left: 2px solid red;'>
      <h3 class='display-6 my-2 mx-3'> Visualize Your Data <i class="fas fa-chart-line" style='color:rgb(54, 162, 235);'></i></h3>
    </div>


    <div class="row pt-5 pt-lg-1 offset-lg-1">

      <div class="col-lg-3 col-sm-12 my-lg-5 my-l">
        <div class="myChart mt-5" >
          <canvas id="myChart" height='200px'></canvas>
        </div>
      </div>

      <div class="offset-lg-1 col-lg-7 col-sm-12 my-5">
        <div class="myChart" style="position: relative; height:50vh; max-height:500px; ">
          <canvas id="myChart2" height='200px'></canvas>
        </div>
      </div>

    </div>
  </div>

  <!-- End Of Data Visulization -->
  <br>

  <!-- Start Of Get Connected -->
  <!-- style='background-image: url(/static/service/images/greyg.jpg)' -->
  <div class="mx-1  mt-5 text-left" >
    <br>
    <!-- Large Screen -->
    <div class="datavisual d-none d-lg-block d-md-none d-sm-none  mx-5 " style='border-left: 2px solid white;'>
      <h3 class=' display-4 my-3 mx-5'>Get Connected <i class="fa-brands fa-connectdevelop" style='color: #d600f9;'></i></h3>
    </div>


    <!-- Small Screen -->
    <div class="datavisual d-lg-none d-md-block d-sm-block" style='border-left: 2px solid white;'>
      <h3 class='display-6 my-3 mx-2'>Get Connected <i class="fa-brands fa-connectdevelop" style='color: #d600f9;'></i></h3>
    </div>

    <div class="row ">

      <div class="col-lg-3 offset-lg-2 mx-lg-5 mx-2 text-left px-lg-4 py-5">
        <img src="/static/service/images/connection.png" style='width: 100%; height:100%;' alt="">
      </div>


      <div class="connecteddiv  col-lg-7 offset-lg-2 mx-lg-5 mx-2"  id='connecteddiv' onscroll="textAnimate()">
        <h1 class="ml9">
          <span class="text-wrapper">

            <!-- Large Screen -->
            <span class="letters display-4 d-none d-lg-block d-md-none d-sm-none" style='font-size:40px; display: inline-block;'>
              Connect with your Estate, Supplier, Clients and workers and &nbsp notify them of or request what you need.
            </span>

            <!-- Small Screen -->
            <span class=" display-4 d-lg-none d-md-block d-sm-block" style='font-size:40px; display: inline-block;'>
              Connect with your Estate, Supplier, Clients and workers and notify them of or request what you need.
            </span>
          </span>
        </h1>

        <button type="button" class='btn btn-primary my-5' id='' name="button">See How</button>

      </div>
    </div>



  </div>


  <!-- End Of Get Connected -->

  <br><br><br><br>



  <!-- Account Types -->

  <div class="mx-1  my-5 text-left" >

    <!-- Large Screen -->

    <div class="datavisual d-none d-lg-block d-md-none d-sm-none  mx-5" style='border-left: 2px solid red;'>
      <h3 class=' display-4 my-5 mx-5'>Account's <i class="account-icon fas fa-users" style='color: #ff009b;'></i></h3>
    </div>

    <!-- Small Screen -->
    <div class="datavisual d-lg-none d-md-block d-sm-block" style='border-left: 2px solid red;'>
      <h3 class='display-6 my-5 mx-2'> Account's <i class="account-icon fas fa-users" style='color: #ff009b;'></i></h3>
    </div>

    <div class="row mx-lg-5 mx-sm-3" id='fec'>

      <div class="featureacc col-lg-2 col-md-5 col-sm-5 offset-sm-1 my-5 offset-lg-1"  id='ac1'>

        <div onclick="window.location='http://google.com';" >

          <div class="text-center my-5" >
            <i class="fas fa-industry fa-5x" style='color:rgb(73, 255, 129);'></i>
            <p class='h3 text-muted'>Tea Factory </p>
          </div>

          <div class="my-5">

          </div>

        </div>

        <div class="row px-3">
          <button type="button" class="btn btn-primary my-2 btn-block"  onclick="window.location='http://youtube.com';" name="button">Buy 599,999LKR</button>
        </div>

      </div>


      <div class="featureacc col-lg-2 col-md-5 col-sm-5 offset-sm-1 my-5 offset-lg-1"  id='ac2'>

        <div onclick="window.location='http://google.com';" >

          <div class="text-center my-5" >
            <i class="fa-solid fa-truck-fast fa-5x" style='color:rgb(255, 205, 86);'></i>
            <p class='h3 text-muted'>Factory Supllier</p>
          </div>

          <div class="my-5">

          </div>

        </div>

        <div class="row px-3">
          <button type="button" class="btn btn-primary my-2 btn-block"  onclick="window.location='http://youtube.com';" name="button">Buy 9999LKR</button>
        </div>

      </div>



      <div class="featureacc col-lg-2 col-md-5 col-sm-5 offset-sm-1 offset-lg-1 my-5 "  id='ac3'>

        <div onclick="window.location='http://google.com';">

          <div class="text-center my-5">
            <i class="fas fa-user fa-5x" style='color:rgb(54, 162, 235);'></i>
            <p class='h3 text-muted'>Field Owner</p>
          </div>

          <div class="my-5">

          </div>

        </div>

        <div class="row px-3">
          <button type="button" class="btn btn-primary my-2 btn-block" name="button">Buy 4999LKR</button>
        </div>

      </div>

      <div class="featureacc col-lg-2 col-md-5 col-sm-5 offset-sm-1 offset-lg-1 my-5  " id='ac4'>

        <div onclick="window.location='http://google.com';">

          <div class="text-center my-5">
            <i class="fas fa-digging fa-5x" style='color:rgb(255, 99, 132);'></i>
            <p class='h3 text-muted'>Worker</p>
          </div>

          <div class="my-5">

          </div>

        </div>

        <div class="row  px-3">
          <button type="button" class="btn btn-primary my-2 btn-block disabled" name="button">Free on Other Account</button>
        </div>

      </div>

    </div>
  </div>

  <!-- End Of Account -->

  <br><br><br><br><br><br>
  <!-- Start Of Location -->


  <div class="container-banner" style=' min-height:500px; ' >
    <img src='static/service/images/banner.jpg' class='w-100 d-none d-lg-block d-md-none d-sm-none' alt="Banner">
    <img src='static/service/images/banner-small.jpg' alt="" class='w-100 d-lg-none d-md-block d-sm-block'>
    <div class="centered d-none d-lg-block d-md-none d-sm-none">
      <h1 class='display-2'><i class="fa-solid fa-location-dot text-white mx-2 text-underline"></i> Hapugastalawa</h1>
    </div>

    <div class="centered d-lg-none d-md-block d-sm-block">
      <h1 class='display-5'><i class="fa-solid fa-location-dot text-white mx-2 text-underline"></i> Hapugastalawa</h1>
    </div>

  </div>

  <!-- End Of Location -->


  <br><br><br><br>



  {% endblock %}
