<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="icon" href="{% static 'service/images/logo.png' %}">
      <!-- <link rel="icon" href="{% static 'images/icon.png' %}"> -->
  </head>
  <body>
    <div class="container" style="text-align:center;">
        <!-- <img src="{% static 'service/images/logo.png' %}" alt=""> -->
       <img src="{% static 'service/images/banner.jpg' %}" alt="hifsuhvgujygky">
      <h1>Hello World</h1>
    </div>
  </body>
</html>
